In [6]:
!pip install glob
from glob import glob

ERROR: Could not find a version that satisfies the requirement glob (from versions: none)
ERROR: No matching distribution found for glob

In [8]:
stations_files = glob('/Users/kimhyeryoung/Documents/sql_ws/data/*.xls')
len(stations_files), stations_files[:5]

(26,
 ['/Users/kimhyeryoung/Documents/sql_ws/data/지역_위치별(주유소) (9).xls',
  '/Users/kimhyeryoung/Documents/sql_ws/data/지역_위치별(주유소) (12).xls',
  '/Users/kimhyeryoung/Documents/sql_ws/data/지역_위치별(주유소) (5).xls',
  '/Users/kimhyeryoung/Documents/sql_ws/data/지역_위치별(주유소) (24).xls',
  '/Users/kimhyeryoung/Documents/sql_ws/data/지역_위치별(주유소) (25).xls'])

In [15]:
import pandas as pd
tmp = pd.read_excel(stations_files[0], header=2)
tmp.tail(2)

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
17,서울특별시,sk네트웍스 영신주유소,서울특별시 도봉구 방학로 151 (방학동 671-2),SK에너지,02-956-5152,N,1778,1649,1439,1004
18,서울특별시,해와달주유소,서울 도봉구 마들로 776 (도봉동),현대오일뱅크,02-956-1600,N,-,1998,1763,1188

In [17]:
tmp_raw = []
for file_name in stations_files:
    # 엑셀 파일을 판다스 데이터 프레임 저장
    tmp = pd.read_excel(file_name, header = 2)
    # 데이터 프레임을 리스트 안에 저장
    tmp_raw.append(tmp)

In [18]:
len(tmp_raw)

26

In [22]:
tmp_raw[1].tail()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
9,서울특별시,안국주유소,서울 마포구 양화로 33 (합정동),SK에너지,02-334-8030,N,-,1775,1575,1250
10,서울특별시,Happy Auto,서울 마포구 서강로 76 (창전동),SK에너지,02-336-5185,N,2039,1840,1690,1212
11,서울특별시,합정주유소,서울 마포구 양화로 13 (합정동),SK에너지,02-336-3276,N,2066,1849,1696,-
12,서울특별시,성산대교(해월),서울 마포구 성산로 144 (성산동),SK에너지,02-323-0078,N,2060,1850,1699,1505
13,서울특별시,서강주유소,서울 마포구 독막로 134 (창전동),SK에너지,02-338-2886,N,-,-,-,-

In [23]:
stations_raw = pd.concat(tmp_raw)
stations_raw

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,한이에너지(주)KLP제1주유소,서울특별시 도봉구 도봉로 596 (창동),현대오일뱅크,02-902-5189,N,-,1508,1298,-
1,서울특별시,도봉제일주유소(주)송만에너지,서울특별시 도봉구 도봉로 783 (도봉동),현대오일뱅크,02-955-5185,N,-,1508,1298,940
2,서울특별시,쌍문주유소,서울특별시 도봉구 도봉로 547 (쌍문동),S-OIL,02-992-0220,Y,-,1509,1299,1000
3,서울특별시,삼미상사(주)북부주유소,서울 도봉구 도봉로 437 (쌍문동),SK에너지,02-991-5561,Y,-,1509,1299,1200
4,서울특별시,정다운셀프주유소,서울특별시 도봉구 도봉로 635 (쌍문동),SK에너지,02-996-5151,Y,-,1511,1301,-
...,...,...,...,...,...,...,...,...,...,...
7,서울특별시,대성산업(주) 노량진주유소,서울 동작구 노량진로 172 (노량진동),GS칼텍스,02-815-2354,N,-,1587,1387,929
8,서울특별시,21세기주유소,서울 동작구 시흥대로 616 (신대방동),SK에너지,02-832-7926,Y,1798,1598,1388,-
9,서울특별시,흑석동,서울 동작구 현충로 101 (흑석동),SK에너지,02-815-0724,Y,-,1627,1498,-
10,서울특별시,살피재주유소,서울특별시 동작구 상도로 334 (상도동),SK에너지,02-817-2559,N,-,1635,1425,-
11,서울특별시,(주)서우유통에너지,서울특별시 동작구 노량진로 78 (노량진동),S-OIL,02-821-7009,N,-,-,1328,-

In [24]:
# 요약 정보 확인!
# 전처리 필요한 부분 확인
# 인덱스 번호와 기름의 가격 데이터 타입을 숫자로 수정
stations_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 543 entries, 0 to 11
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      543 non-null    object
 1   상호      543 non-null    object
 2   주소      543 non-null    object
 3   상표      543 non-null    object
 4   전화번호    543 non-null    object
 5   셀프여부    543 non-null    object
 6   고급휘발유   543 non-null    object
 7   휘발유     543 non-null    object
 8   경유      543 non-null    object
 9   실내등유    543 non-null    object
dtypes: object(10)
memory usage: 46.7+ KB

#### 의미 있는 데이터만 뽑아 사용하기

In [25]:
stations_raw.head(1)

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,한이에너지(주)KLP제1주유소,서울특별시 도봉구 도봉로 596 (창동),현대오일뱅크,02-902-5189,N,-,1508,1298,-

In [27]:
data = {
    '상호': stations_raw['상호'],
    '주소': stations_raw['주소'],
    '휘발유': stations_raw['휘발유'],
    '경유': stations_raw['경유'],
    '셀프': stations_raw['셀프여부'],
    '상표': stations_raw['상표'],
}

In [29]:
#raw데이터에서 의미 있는 데이터만 뽑아서 사용하기
stations = pd.DataFrame(data)
stations.tail()

                상호                         주소   휘발유    경유 셀프     상표
7   대성산업(주) 노량진주유소     서울 동작구 노량진로 172 (노량진동)  1587  1387  N  GS칼텍스
8          21세기주유소     서울 동작구 시흥대로 616 (신대방동)  1598  1388  Y  SK에너지
9              흑석동       서울 동작구 현충로 101 (흑석동)  1627  1498  Y  SK에너지
10          살피재주유소   서울특별시 동작구  상도로 334 (상도동)  1635  1425  N  SK에너지
11      (주)서우유통에너지  서울특별시 동작구  노량진로 78 (노량진동)     -  1328  N  S-OIL

In [30]:
# 구 컬럼 추가
# 구 데이터를 리스트 형태로 저장
stations_gu_list = []
for address in stations['주소']:
    gu = address.split()[1]
    stations_gu_list.append(gu)

In [31]:
stations_gu_list

['도봉구',
 '도봉구',
 '도봉구',
 '도봉구',
 '도봉구',
 '도봉구',
 '도봉구',
 '도봉구',
 '도봉구',
 '특별시',
 '도봉구',
 '도봉구',
 '도봉구',
 '도봉구',
 '도봉구',
 '도봉구',
 '도봉구',
 '도봉구',
 '도봉구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '마포구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '광진구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '중랑구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '관악구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '서대문구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '노원구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '강남구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '양천구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '서초구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '서울특별시',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '영등포구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '강서구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '강북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '성북구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '송파구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '은평구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '동대문구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '강동구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '금천구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '구로구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구',
 '동작구']

In [32]:
#데이터 검증 작업
len(stations_gu_list), len(stations)

(543, 543)

In [33]:
# 구 컬럼 추가
stations['구'] = stations_gu_list

In [34]:
stations.head()

                 상호                        주소   휘발유    경유 셀프      상표    구
0  한이에너지(주)KLP제1주유소   서울특별시 도봉구  도봉로 596 (창동)  1508  1298  N  현대오일뱅크  도봉구
1   도봉제일주유소(주)송만에너지  서울특별시 도봉구  도봉로 783 (도봉동)  1508  1298  N  현대오일뱅크  도봉구
2             쌍문주유소  서울특별시 도봉구  도봉로 547 (쌍문동)  1509  1299  Y   S-OIL  도봉구
3      삼미상사(주)북부주유소      서울 도봉구 도봉로 437 (쌍문동)  1509  1299  Y   SK에너지  도봉구
4          정다운셀프주유소   서울특별시 도봉구 도봉로 635 (쌍문동)  1511  1301  Y   SK에너지  도봉구

#### 가격 데이터 타입, 인덱스 재정렬

In [37]:
stations['휘발유'].astype('float')

ValueError: could not convert string to float: '-'

In [38]:
#가격 정보 없는 주유소
stations[stations['휘발유'] == '-']

               상호                          주소 휘발유    경유 셀프     상표     구
13          서강주유소        서울 마포구 독막로 134 (창전동)   -     -  N  SK에너지   마포구
14  지에스칼텍스㈜ 소망주유소              서울 중랑구 망우로 475   -     -  Y  GS칼텍스   중랑구
25          목동주유소       서울 양천구 목동중앙로 125 (목동)   -     -  N  S-OIL   양천구
34          하나주유소   서울특별시 영등포구  도림로 236 (신길동)   -     -  N  S-OIL  영등포구
12   (주)에이앤이청담주유소    서울특별시 강북구 도봉로 155  (미아동)   -     -  Y  SK에너지   강북구
18  명진석유(주)동서울주유소  서울특별시 강동구  천호대로 1456 (상일동)   -     -  Y  GS칼텍스   강동구
11     (주)서우유통에너지   서울특별시 동작구  노량진로 78 (노량진동)   -  1328  N  S-OIL   동작구

In [39]:
#가격 정보가 있는 주유소만 사용
stations = stations[stations['휘발유'] != '-']
stations = stations[stations['경유'] != '-']

In [42]:
# 데이터타입 object -> float 변환
stations['휘발유'] = stations['휘발유'].astype('float')
stations['경유'] = stations['경유'].astype('float')

In [47]:
stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536 entries, 0 to 535
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      536 non-null    object
 1   주소      536 non-null    object
 2   휘발유     536 non-null    float64
 3   경유      536 non-null    float64
 4   셀프      536 non-null    object
 5   상표      536 non-null    object
 6   구       536 non-null    object
dtypes: float64(2), object(5)
memory usage: 29.4+ KB

In [46]:
#인덱스 재정렬
stations.reset_index(drop=True, inplace=True)